[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glfw-rs"]
	path = lib/glfw-rs
	url = https://github.com/bjz/glfw-rs.git
[submodule "lib/portaudio-rs"]
	path = lib/portaudio-rs
	url = https://github.com/JeremyLetang/rust-portaudio.git
[submodule "lib/cgmath-rs"]
	path = lib/cgmath-rs
	url = https://github.com/bjz/cgmath-rs.git
[submodule "lib/gl-rs"]
	path = lib/gl-rs
	url = https://github.com/bjz/gl-rs.git
[submodule "lib/color-rs"]
	path = lib/color-rs
	url = https://github.com/bjz/color-rs.git
[submodule "lib/hgl-rs"]
	path = lib/hgl-rs
	url = https://github.com/cmr/hgl-rs
[submodule "lib/rust-toml"]
	path = lib/rust-toml
	url = https://github.com/rsaarelm/rust-toml.git
