(
    map: "
                                                           * *
                                                        * * * *
                                                     # # # # # #
                                                  * # . . . . . .
                                               * * # . . . . . . .
                                            * * * # . . . . . . . .
                                         * # # # # # # | | # | # # #
                                      * * * * * . . . . . # . . . . .
                                   * * * * * . . . . . * # . . . . . .
                                * * * * * # # . # # * * * * * . . * * *
                             ~ ~ * * * * # . . . # * * * * * . . . * * *
                          , , ~ ~ . * . . . . . . . . . . * * . . * * * *
                       ~ , B , ~ ~ . . # . . . # * * * . * * . . * * * * *
                    ~ ~ , , , ~ ~ . . # # # # # * * * . * * . . * * # # # #
                 . . ~ ~ ~ , ~ ~ * * . . . * * # # # . # # * . . * # . . . #
              * * . . ~ ~ ~ ~ ~ ~ ~ * * . * * # . . . . # * . . * # . . . # *
           * . . * . . . . . . . ~ * . . . * # . . . . # * # | # # # | # # # #
        * * . . . . . . . # # # # ~ ~ ~ . * # . . . . # * # . . . . . . . . # *
     * * * * . . # # # # # . . # . * ~ . ~ * * ~ ~ ~ ~ * # # # # # | # # . # * *
  * * * * E * * . . . . . . . . * * . . . ~ ~ ~ . . . ~ * * * # . . . # . # * * *
 * * * E . . . * # # # # # # # . * * * * . . . . . ~ ~ ~ * * # . . . # | * * * * *
* * * . . E . . * * * * * * * . . . . * * * * * * . . ~ ~ ~ # # # # # . . . . * * *
 * * . * . . E . . . . . * * . . . . . . * * * * * * . . ~ ~ * * * * * . . . = = * *
  * . . . . . . . . * * . * * . * * * . . * * * # # # # . . ~ * * . . . . . = = = *
   * E . * . . * * * * . * * * . . * * * . * * # . . . . ~ ~ * = = . * . . . * * *
    * . * * . * * * * . E * * * . * * * * . . . . . . . ~ * * * = . . * * . * *
     * . . * . * * . . . E * * * . . * . * * # . . . ~ ~ . . * . . = * * * *
      * * . * . * * . E E . . * * . * . . * # . . . ~ ~ . . . . = = = * *
       * * . . . * * . . . . * * . * . . * # # | # ~ ~ . . . . = = = *
        * * . * . . * * . . . . . . * * . . . . * * ~ * . . . = * *
         * * * * . . F * * * * . . . * * * * * * ~ ~ * . . * * *
          * * * * , , H * * . . . . * * * ~ ~ ~ ~ * * . . * *
           B B , D , , , * * . . . * * ~ ~ * ~ * * . . * *
            B , B , , , C * * * . * ~ ~ * * * * . . . *
             , , , C , , , * B * * ~ ~ * . . . . . *
              B , , , , B * B , B * ~ * . . . = =
               , , , , , , A , B ~ ~ * > . = =
                ~ ~ ~ , , A ~ ~ ~ ~ B * * =
                 ~ ~ ~ . ~ ~ ~ ~ B B B B
                  ~ B A ~ ~ , , , B B
                   B B , , , , , B
                    B , G , , ,
                     , , , ,
                      , ,
",

    legend: {
        '#': (Wall, []),
        '*': (Rock, []),
        ',': (Grass, []),
        '.': (Ground, []),
        '=': (Magma, []),
        '>': (Gate, []),
        'A': (Grass, ["sword"]),
        'B': (Tree, []),
        'C': (Grass, ["snake"]),
        'D': (Grass, ["wand of confusion"]),
        'E': (Ground, ["dreg"]),
        'F': (Grass, ["wand of fireball"]),
        'G': (Grass, ["player"]),
        'H': (Grass, ["scroll of lightning"]),
        '|': (Door, []),
        '~': (Water, []),
    }
)
