(
    map: "
                                                           * *                                                                    
                                                        * * * *                                                                   
                                                     # # # # # #                                                                  
                                                  * # . . . . . .                                                                 
                                               * * # . . . . . . .                                                                
                                            * * * # . . . . . . . .                                                               
                                         * # # # # # # | | # | # # #                                                              
                                      * * * * * . . . . . # . . . . .                                                             
                                   * * * * * . . . . . * # . . . . . .                                                            
                                * * * * * # # . # # * * * * * . . * * *                                                           
                             ~ ~ * * * * # . . . # * * * * * . . . * * *                                                          
                          , , ~ ~ . * . . . . . . . . . . * * . . * * * *                                                         
                       ~ , B , ~ ~ . . # . . . # * * * . * * . . * * * * *                                                        
                    ~ ~ , , , ~ ~ . . # # # # # * * * . * * . . * * # # # #                                                       
                 . . ~ ~ ~ , ~ ~ * * . . . * * # # # . # # * . . * # . . . #                                                      
              * * . . ~ ~ ~ ~ ~ ~ ~ * * . * * # . . . . # * . . * # . . . # *                                                     
           * . . * . . . . . . . ~ * . . . * # . . . . # * # | # # # | # # # #                                                    
        * * . . . . . . . # # # # ~ ~ ~ . * # . . . . # * # . . . . . . . . # *                                                   
     * * * * . . # # # # # . . # . * ~ . ~ * * ~ ~ ~ ~ * # # # # # | # # . # * *                                                  
  * * * * C * * . . . . . . . . * * . . . ~ ~ ~ . . . ~ * * * # . . . # . # * * *                                                 
 * * * C . . . * # # # # # # # . * * * * . . . . . ~ ~ ~ * * # . . . # | * * * * *                                                
* * * . . C . . * * * * * * * . . . . * * * * * * . . ~ ~ ~ # # # # # . . . . * * *                                               
 * * . * . . C . . . . . * * . . . . . . * * * * * * . . ~ ~ * * * * * . . . = = * *                                              
  * . . . . . . . . * * . * * . * * * . . * * * # # # # . . ~ * * . . . . . = = = *                                               
   * C . * . . * * * * . * * * . . * * * . * * # . . . . ~ ~ * = = . * . . . * * *                                                
    * . * * . * * * * . C * * * . * * * * . . . . . . . ~ * * * = . . * * . * *                                                   
     * . . * . * * . . . C * * * . . * . * * # . . . ~ ~ . . * . . = * * * *                                                      
      * * . * . * * . C C . . * * . * . . * # . . . ~ ~ . . . . = = = * *                                                         
       * * . . . * * . . . . * * . * . . * # # | # ~ ~ . . . . = = = *                                                            
        * * . * . . * * . . . . . . * * . . . . * * ~ * . . . = * *                                                               
         * * * * . . D * * * * . . . * * * * * * ~ ~ * . . * * *                                                                  
          * * * * , , G * * . . . . * * * ~ ~ ~ ~ * * . . * *                                                                     
           B B , E , , , * * . . . * * ~ ~ * ~ * * . . * *                                                                        
            B , B , , , A * * * . * ~ ~ * * * * . . . *                                                                           
             , , , A , , , * B * * ~ ~ * . . . . . *                                                                              
              B , , , , B * B , B * ~ * . . . = =                                                                                 
               , , , , , , F , B ~ ~ * > . = =                                                                                    
                ~ ~ ~ , , F ~ ~ ~ ~ B * * =                                                                                       
                 ~ ~ ~ . ~ ~ ~ ~ B B B B                                                                                          
                  ~ B F ~ ~ , , , B B                                                                                             
                   B B , , , , , B                                                                                                
                    B , H , , ,                                                                                                   
                     , , , ,                                                                                                      
                      , ,                                                                                                         
",
    legend: {
        '#': (Wall, [
        ]),
        '*': (Rock, [
        ]),
        ',': (Grass, [
        ]),
        '.': (Ground, [
        ]),
        '=': (Magma, [
        ]),
        '>': (Gate, [
        ]),
        'A': (Grass, [
            "snake",
        ]),
        'B': (Tree, [
        ]),
        'C': (Ground, [
            "dreg",
        ]),
        'D': (Grass, [
            "wand of fireball",
        ]),
        'E': (Grass, [
            "wand of confusion",
        ]),
        'F': (Grass, [
            "sword",
        ]),
        'G': (Grass, [
            "scroll of lightning",
        ]),
        'H': (Grass, [
            "player",
        ]),
        '|': (Door, [
        ]),
        '~': (Water, [
        ]),
    },
)